
ol{
    text-align: center;
}
#home_h1{
    text-align: center;
    color:green
}
#first_p{
    text-align: justify;
    font-style: italic;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.container{
    display: flex;
}
a:hover{
    background-color: cornflowerblue;
}

@media (width < 900px){
    .container{
        flex-direction: column;
    }
}
#images_h1{
    text-align: center;
    margin-bottom: 1cm;
}
img{
    width: 500px;
    height: 300px;
    margin-bottom: 1cm;
    border: solid black 1px

.boxed-list {
    border: 2px solid black;  
    padding: 25px;          
    width: auto; 
  }

.boxed-list li {
    font-weight: bold;       
  }
  
.author {
    margin-bottom: 1cm;
    text-align: center;
  }
  
.form-header {
    margin-bottom: 1cm;
    text-align: center;
}

.editf {
    background-color: blue;
}

.btns {
    background-color: orange;
    margin-bottom: 1cm;
}