.boxed-list {
    border: 2px solid black;  
    padding: 25px;          
    width: auto; 
  }

.boxed-list li {
    font-weight: bold;       
  }
  
.author {
    margin-bottom: 1cm;
    text-align: center;
  }
  
.form-header {
    margin-bottom: 1cm;
    text-align: center;
}

.editf {
    background-color: blue;
}

.btns {
    background-color: orange;
    margin-bottom: 1cm;
}